@import '../../global';

.project{
    width: 100%;
    height: 100vh;
    background-color: $my-color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .title{
        position: absolute;
        top: 60px;
        text-shadow: 2px 2px crimson;
        color: $my-color-primary;
        font-family: $ritika-font;

        @include mobile{
            top: 30px;
        }
    }

    .slider{
        top:180px;
        height: 400px;
        display: flex;
        position: absolute;
        transition: all 1s ease-out;
        left: 0;

        @include mobile{
            height: 80vh;
            top: 80px; 
        }
       
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: $my-color-primary;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    width: 85%;
                    height: 480px;
                    margin: 20px 0;
                    flex-direction: column;
                }

                .left{
                    flex: 2;
                    height: 100%;
                    border-radius: 20px 0px 0px 20px;

                    .info{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .notDisplay{
                            @include mobile{
                                display: none;
                            }
                        }

                        h1{
                            margin-top: 10px;
                            font-size: 45px;
                            line-height: 1;
                            text-shadow: 2px 2px rgb(245, 245, 193);

                            @include mobile{
                                font-size: 35px;
                                margin-top: 2px;
                            }
                        }
                        
                        h2{
                            color: red;
                            margin-top: 10px;
                            text-shadow: 1px 1px rgb(247, 247, 229);

                            @include mobile{
                                margin-top: 5px;
                            }

                        }

                        p{
                            font-size: 18px;
                            font-family: $simple-font;
                        }
                        
                        ul{
                            list-style: none;
                            display: flex;
                            font-family: $simple-font;
                            
                            li{
                                margin: 0 10px;
                            }
                        }
                        
                        span{
                            a{
                                text-decoration: none;
                                font-family: $simple-font;
                                font-size: 15px;
                                color: $my-color-secondary;
                            }
                        }

                        button{
                            margin-top: 20px;
                            border: 1px solid red;
                            border-radius: 15px;
                            padding: 5px;
                            color: $my-color-secondary;
                            background-color: $my-color-great;
                            transform: all 1s ease;
                            
                            @include mobile{
                                margin-top: 5px;
                                margin-bottom: 2px;
                            }

                            a{
                                text-decoration: none;
                                font-family: $simple-font;
                                font-size: 15px;
                                color: $my-color-secondary;
                            }

                            &:hover{
                                box-shadow: -3px 3px 26px rgb(252, 84, 84) ;
                                padding: 4px;
                                transform: scaleX(1.1);
                                cursor: pointer;
                            }
                        }

                    }
                }
                
                .right{
                    flex: 3;
                    height: 100%;
                    border-radius: 0px 20px 20px 0px;
                    background-color: green;
                    
                    .imageContainer{
                        width: 100%;
                        height: 100%;

                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 0px 20px 20px 0px;
                            
                            @include mobile{
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .arrow{
        height: 50px;
        position: absolute;

        @include mobile{
            height: 30px;
        }

        &.left{
            left: 100px;

            @include mobile{
                left: 2px;
            }

        }

        &.right{
            right: 100px;

            @include mobile{
                right: 2px;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}