
@import './_global.scss';

.app{

    height: 100vh;
    background-color: $my-color-secondary;
    font-family: $brand-font;
    
    .sections{
        width: 100%;
        height: calc(100vh - 40px);
        position: relative;
        top: 40px;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;   // Firefox
        ::-webkit-scrollbar{
            display: none;
        }
        
        > *{
            scroll-snap-align: center;
        }
    }

}

