$brand-font :'Dancing Script', cursive;
$ritika-font : 'Rampart One', cursive;
$simple-font : 'Courgette', cursive;

$my-color-primary : #3DB2FF ;
$my-color-secondary : #FFEDDA ; 
$my-color-success : #FFB830 ;
$my-color-great : #FF2442 ;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}